article {
  display: grid;
  grid-template-columns: 1fr 1fr 10px 740px 10px 1fr 1fr;
}

article * {
  grid-column: 4;
}

/* Full width images */
/* article > figure {
  grid-column: 1 / -1;
  margin: 20px 0;
} */

/* Navigation ***********/

.navbar {
  margin-bottom: 20px;
}

.navbar-nav li {
  padding-left: 40px;
}

.nav-link {
  font-size: 1.1em !important;
}

/* Footer ***********/

footer {
  position: relative;
  width: 100%;
  left: 0;
  background-color: #212529;
  color: white;
  text-align: center;

  padding: 0.25rem;
}

footer p {
  margin-bottom: 0;
}
